body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Verdana, sans-serif;
}

.game {
    display: none;
}

.side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.6em;
    font-size: 1.5em;
    min-width: 12vw;
    text-align: center;
    height: 60vh;
}

#pgn {
    height: 100%;
    overflow-y: auto;
    padding-left: 5px;
    padding-right: 5px;
}

#myBoard {
    width: 70vh;
}

#roomSelector {
    text-align: center;
    font-size: 1.2em;
}

#roomSelector > input {
    font-size: 1.2em;
}

#roomSelector > button {
    font-size: 1.1em;
    margin-top: 0.5em;
    border-radius: 5px;
    background-color: rgb(12, 175, 12);
    color: white;
    padding: 5px 10px;
}